{
  "databaseFile": "PleBot.db",
  "logLevel": 2,
  "botToken": "{BOT_TOKEN}",
  "botPrefix": "!",
  "botMessageCache": 100000000,
  "coinName": "Plenteum",
  "coinSymbol": "PLE",
  "coinUnits": 100000000,
  "coinAddressLength": 98,
  "coinAddressPrefix": "PLe",
  "tipFee": 0.1,
  "tipMixin": 0,
  "tipSuccessReact": ":thumbsup:",
  "tipFailedReact": ":thumbsdown:",
  "tipLowBalanceReact": ":hourglass:",
  "tipJoinReact": ":smiley:",
  "tipCustomReacts": {
    ":kev:": 99.5,
    ":99:": 99,
    "🍆": 1234.56
  },
  "marketSource": "STEX",
  "marketEndpoint": "https://api3.stex.com/public/ticker/864",
  "bookEndpoint": "https://api3.stex.com/public/orderbook/864",
  "marketBTCEndpoint": "https://www.bitstamp.net/api/ticker/",
  "marketAllowedChannels": [
    515407608589320192
  ],
  "daemonHost": "127.0.0.1",
  "daemonPort": 44016,
  "walletHost": "127.0.0.1",
  "walletPort": 8070,
  "walletRpcPassword": "1234",
  "walletUpdateDelay": 500,
  "pools" "",
  "shareDelaySeconds" : 30
}
